@use '../abstracts/colours';

.item-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: colours.$primary-black 0.1rem solid;
  z-index: 0;
  cursor: pointer;

  &:hover {
    img {
      animation: rotation 24s infinite linear;
    }
  }

  .item-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100%;
    padding: 1rem;

    .item-main-container {
      display: flex;
      flex-direction: column;

      img {
        display: flex;
        align-self: center;
        margin-top: -1rem;
        width: 90%;
        height: 90%;
      }
    }

    .item-main-details {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      .item-tag {
        font-size: 0.8rem;
        font-weight: 600;

        width: fit-content;
        padding: 0.3rem;

        border: colours.$primary-black 0.1rem solid;
        border-radius: 6rem;
      }

      .item-name {
        font-size: 1.8rem;
        font-weight: 600;
      }

      .item-description {
        font-size: 1rem;
        font-weight: 300;
      }
    }

    .item-sub-details {
      display: flex;
      justify-content: space-between;
      width: 100%;
      gap: 1rem;

      .item-price {
        width: 100%;
        text-align: right;
        font-size: 1.2rem;
        font-weight: 600;
      }
    }
  }

  .add-to-cart {
    font-size: 1rem;
    font-weight: 300;
    width: 100%;
    padding: 1rem;
    border: none;
    border-top: colours.$primary-black 0.1rem solid;
    background-color: colours.$primary-background;
    cursor: pointer;

    &:hover {
      color: colours.$primary-background;
      background-color: colours.$primary-green;
    }
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
