@use '../abstracts/colours';

.navbar {
  background-color: colours.$primary-background;
  padding-top: 10px;
  width: 100%;
  position: sticky;
  top: 0px;
  z-index: 1;
  ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 30px;
    li {
      .navbar-link {
        &:link,
        &:visited,
        &:hover,
        &:active {
          text-decoration: none;
          color: inherit;
        }
      }
      color: colours.$primary-red;
      font-size: 1.2rem;
      font-weight: 600;
      cursor: pointer;
    }
    span {
      color: colours.$primary-red;
    }
  }
  .hr-heavy {
    border: 3px solid colours.$primary-red;
    width: 100%;
  }
  .hr-light {
    border: 1px solid colours.$primary-red;
    width: 100%;
  }
}
