@use '../abstracts/colours';

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: colours.$primary-background;
  position: sticky;
  top: 0px;
  height: 5rem;
  z-index: 100;

  ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
    gap: 3rem;

    li {
      color: colours.$primary-red;
      font-size: 1.2rem;
      font-weight: 600;
      cursor: pointer;

      .navbar-link {
        display: inline-block;
        position: relative;

        &:link,
        &:visited,
        &:active {
          text-decoration: none;
          color: inherit;
        }

        &:hover {
          text-decoration: underline;
        }
      }
    }

    span {
      color: colours.$primary-red;
    }
  }

  .hr-heavy {
    margin: 0;
    border: 3px solid colours.$primary-red;
  }

  .hr-light {
    margin: 0;
    border: 1px solid colours.$primary-red;
  }
}
