@import './Reset';

body {
  background-color: #fefce8;
  font-family: Arial, Helvetica, sans-serif;
}

.logo {
  display: flex;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  justify-content: center;
  height: 160px;
  width: auto;
}

.green {
  background-color: green;
  height: 1000px;
}

.red {
  background-color: red;
  height: 1000px;
}

.blue {
  background-color: blue;
  height: 1000px;
}
