$primary-red: #dc2626;

.navbar {
  background-color: #fefce8;
  width: 100%;
  position: sticky;
  top: 0px;
  ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 30px;
    li {
      color: $primary-red;
      font-size: 1.2rem;
      font-weight: 600;
      cursor: pointer;
      // &:hover {
      //   color: #fff;
      // }
    }
    span {
      color: $primary-red;
    }
  }
  .hr-heavy {
    border: 3px solid $primary-red;
    width: 100%;
  }
  .hr-light {
    border: 1px solid $primary-red;
    width: 100%;
  }
}
