@use '../abstracts/colours';
@use '../base/font-face';

.home-page {
  .highlight-section {
    background-color: colours.$primary-green;
    height: 70vh;
    margin: 9px;
    .highlight-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      h1 {
        color: colours.$primary-background;
        line-height: 1.2;
        margin-bottom: 1.5rem;
        margin-top: 0;
        text-align: center;
      }
    }
  }
  .our-story-section {
    .our-story-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      h2 {
        color: colours.$primary-black;
        text-align: center;
      }
      p {
        max-width: 60rem;
        margin: 6px;
        color: colours.$primary-black;
      }
      .our-story-body {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        img {
          width: 25%;
          height: 100%;
          border: colours.$primary-black solid 3px;
        }
      }
    }
  }
  .reviews-section {
    background-color: colours.$primary-green;
    padding: 6px;
    .reviews-content {
      display: flex;
      flex-direction: row;
      // flex-wrap: wrap;
      // justify-content: center;
      // align-items: center;
      h2 {
        color: colours.$primary-black;
        text-align: center;
      }
      .review-container {
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: colours.$primary-background;
        border: colours.$primary-black solid 1px;
        margin: 12px;
        padding: 6px;
        border-radius: 12px;
        box-shadow: 5px 5px colours.$primary-black;
        h3 {
          color: colours.$primary-black;
          text-align: center;
        }
        // span {
        //   font-size: 2rem;
        //   font-weight: 800;
        // }
        p {
          margin: 6px;
          color: colours.$primary-black;
        }
      }
    }
  }
}
