@use '../abstracts/colours';

.menu-page {
  .disclaimer-content {
    text-align: center;
    text-align: center;
    padding: 2rem;
  }
  .menu-item-heading {
    display: flex;
    position: sticky;
    top: 70px;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: colours.$primary-yellow;
    border-bottom: colours.$primary-black 1px solid;
    border-top: colours.$primary-black 1px solid;
    margin-top: -1px;
  }
  .menu-grid {
    display: grid;
    margin: 2rem;
    gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
  }
}
