@use '../abstracts/colours';

.menu-page {
  .disclaimer-content {
    text-align: center;
    text-align: center;
    padding: 2rem;
  }

  .menu-item-heading {
    z-index: 1;
    display: flex;
    position: sticky;
    justify-content: space-between;
    align-items: center;

    top: 4.9rem;
    height: 5rem;
    padding: 0 0 0 1rem;

    background-color: colours.$primary-yellow;
    border-bottom: colours.$primary-black 1px solid;
    border-top: colours.$primary-black 1px solid;
  }

  .menu-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
    grid-auto-rows: 1fr;
    grid-gap: 2rem;
    padding: 2rem;
  }
}
